<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Olá,
    <p> Secretaria da Educação do Estado de São Paulo informa que o estudante <strong>{0}</strong> de <strong>RA: {1}</strong>  foi matriculado na escola <strong>{2}</strong>, conforme solicitação de inscrição na rede pública realizada no site da Secretaria Escolar Digital. </p>
    <p> Aproveitamos para informar que todos os alunos da rede estadual possuem acesso ao conteúdo do Centro de Mídias de São Paulo por meio do canal da TV Educação (alunos de 6º ao 9º ano do Ensino Fundamental e Ensino Médio), TV Univesp (alunos da Educação Infantil e 1º ao 5º ano do Ensino Fundamental) e pelo aplicativo do Centro de Mídias SP. </p>
    <p>
        O aplicativo está disponível para dispositivos Android e IOS. Para acessar pela primeira vez, o estudante precisa primeiro acessar o site <a href="https://sed.educacao.sp.gov.br/Inicio">https://sed.educacao.sp.gov.br.</a>
        aluno deve inserir seu RA (três zeros a esquerda + RA  + dígito + uf junto) no campo login e a senha inicial é sua data de nascimento(22082003, por exemplo, sem separações). Para acessar o aplicativo, após realizar o primeiro login no site, basta utilizar o mesmo login e senha gerada pelo site Sed.
    </p>
    <p> A programação de aulas do Centro de Mídias, assim como outras informações, está disponível em: <a href="https://centrodemidiasp.educacao.sp.gov.br">https://centrodemidiasp.educacao.sp.gov.br.</a>  </p>
    <p> {3} </p>
    <p> Aproveitamos para informar que no momento não estão sendo realizadas a transferência de estudantes entre escolas da rede pública. Essa atividade será retomada após o fim da suspensão presencial das aulas. </p>
    <p> Atenciosamente, </p>
    <p></p>
    <p> Equipe da Secretaria da Educação do Estado de São Paulo </p>
</body>
</html>